*.py[cod]
.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

metricaltree/StanfordLibrary
metricaltree/Text Book
metricaltree/Pickle Jar
results/
corpora/*
!corpora/corppoetry_fi/
!corpora/corppoetry_en/
