*.py[cod]

# C extensions
*.so

.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

metricaltree/Stanford Library
metricaltree/Text Book
metricaltree/Pickle Jar
results/
corpora/*
!corpora/corppoetry_fi/
!corpora/corppoetry_en/
