include requirements.txt
include README.md
include LICENSE.md

graft prosodic
#graft prosodic
graft metricaltree
graft tagged_samples

graft corpora/shakespeare
graft meters
graft dicts

global-exclude .DS_Store
global-exclude __pycache__
