include requirements.txt
include README.md
include LICENSE.md
include *.txt
include _version.py

graft prosodic
graft corpora

prune prosodic/web/frontend/node_modules
prune prosodic/web/frontend/.svelte-kit

global-exclude .DS_Store
global-exclude *.py[cod]