include requirements.txt
include README.md
include LICENSE.md
include *.txt
include _version.py

graft prosodic
graft metricaltree
graft syllabiphon
graft tagged_samples

graft corpora
graft meters
graft dicts
graft web

global-exclude .DS_Store
global-exclude *.py[cod]