ftfy
langdetect
pandas
syllabiphon @ git+https://github.com/dmort27/syllabiphon
gruut-ipa
numpy
multiset
nltk
phonemizer
# quart
orjson
ordered-set
click
#Werkzeug==2.2.2
editdistance @ git+https://github.com/roy-ht/editdistance
logmap
loguru
orjson
ipython
flask
flask-socketio
gevent
gevent-websocket
scipy