nltk>=3.6.4
numpy
Pyphen
pyparsing
xlrd
networkx
scipy
xlwt
levenshtein
p_tqdm
nltk
numpy


# Flask
# Flask-BasicAuth
# Flask-Login
# #flask-oidc
# Flask-Session
# Flask-WTF
# gevent
# gevent-websocket
# greenlet
# httplib2
# itsdangerous
# Jinja2
# MarkupSafe

# oauth2client
# pyasn1
# pyasn1-modules
# Flask-SocketIO==4.3.1
# python-engineio==3.13.2
# python-socketio==4.6.0
# rsa
# six
# Werkzeug
# WTForms