ftfy
langdetect
pandas
loguru
syllabiphon @ git+https://github.com/dmort27/syllabiphon
sqlitedict
gruut-ipa
numpy
multiset
nltk
phonemizer
quart
orjson
ordered-set
click
Werkzeug==2.2.2
editdistance @ git+https://github.com/roy-ht/editdistance
logmap @ git+https://github.com/quadrismegistus/logmap
loguru
orjson