<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <div id='page_title'>Parse text</div>
  <script type='text/javascript'>
  $(function() {

    $('#parse_button').click(function() {
      console.log('button clicked');
      var text = $('#parse_text').val();
      socket.emit('parse_text', {data: text});
    });

    $("#parse_text").keypress(function(event) {
        if (event.which == 13) {
            event.preventDefault();
            console.log('hit enter');
            $("#parse_button").click();
        }
    });

  });

  socket.on('parse_text_response', function(msg) {
    $('#parse').html('<pre>' + msg.data + '</pre>');
  });

  </script>

    <input type='text' id='parse_text'></input>
    <input type='submit' id='parse_button'></input>

    <div id='parse'></div>

{% endblock %}
