<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}


    <!-- <input type='text' id='parse_text'></input> -->

    <div id='parse_input_row'>
      <textarea id='parse_text'></textarea>
      <input type='submit' id='parse_button' value='Parse'></input>
      <div id='progressbar'></div>
    </div>

    <div class='hr'></div>


    <div id='box'></div>
    <div id='parse'></div>



    <script type='text/javascript'>
    var rows_allparses = {};
    var columns = [];



    var bar = new ProgressBar.Circle(progressbar, {
      color: '#aaa',
      // This has to be the same size as the maximum width to
      // prevent clipping
      strokeWidth: 6,
      trailWidth: 1,
      // easing: 'easeInOut',
      duration: 0,
      text: {
        autoStyleContainer: false
      },
      from: { color: '#aaa', width: 1 },
      to: { color: '#333', width: 4 },
      // Set default step function for all animate calls
      step: function(state, circle) {
        circle.path.setAttribute('stroke', state.color);
        circle.path.setAttribute('stroke-width', state.width);

        var value = Math.round(circle.value() * 100);
        if (value === 0) {
          circle.setText('');
        } else {
          circle.setText(value+'%');
        }

      }
    });
    // bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '1rem';


    function show_alternate_parses(line_id) {
    console.log(line_id);
    $('#box').magnificPopup({
      items: {
          src: '<div class="white-popup"><table id="popup_table"></div></div>',
          type: 'inline'
        },
        closeBtnInside: true
      }).click();

      data = rows_allparses[line_id];

      var table_popup = $('#popup_table').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'excel', 'pdf'
        ],
        paging: false,
        data:data,
        columns: columns,
      });

    }


    $(function() {

      $('#testbutton').click(function() {
        console.log(rows_allparses);
      });

      $('.numparses').click(function() {
        console.log(this.html);
      });

      $('#parse_button').click(function() {
        console.log('button clicked');
        var text = $('#parse_text').val();
        socket.emit('parse_text', {data: text});
      });

      // $("#parse_text").keypress(function(event) {
      //     if (event.which == 13) {
      //         event.preventDefault();
      //         console.log('hit enter');
      //         $("#parse_button").click();
      //     }
      // });

    });

    socket.on('parse_text_response', function(msg) {
      $('#parse').html("<table id='table_lines'></table>");
      bar.animate(0.0);
      console.log(msg);
      columns = msg.columns;
      var table = $('#table_lines').DataTable({
        dom: 'Bfrtip',
        buttons: [
          'copy', 'excel', 'pdf'
        ],
        // data: ['a','b','c','d','e','f','g','h','i','j','k','l','m'],
        data:[],
        columns: msg.columns,
        // "scrollY": "555px",
        // "scrollX": false,
        // "paging": false,
        "pageLength": 50,
        "order": [[ 0, "asc" ]],
        // "ordering": false,
        // "autoWidth": false,
        // "fixedHeader": {
            // "header": false,
            // "footer": false
        // },
        "columnDefs": [
          { "width": "5px", "targets": 0 },
          { "width": "300px", "targets": 1 },
          { "width": "300px", "targets": 2 },
          { "width": "100px", "targets": 3 }
        ]
        // fixedColumns: true
      });

    });

    socket.on('parse_text_addrow',function(msg) {
      console.log(msg);
      var table = $('#table_lines').DataTable();
      table.row.add(msg.row).draw();
      bar.animate(msg.progress);

      rows_allparses[msg.line_id]=msg.rows_allparses;
      // tippy('[title]');
    });

    // $('.test-popup-link').magnificPopup({
      // type: 'image'
      // other options
    // });




    function remove_constraint(num,constraint) {
      console.log('removing '+num+' '+constraint);
      socket.emit('remove_constraint', {data:constraint});
      // $('.constraint_'+num).remove();
      // console.log('hello?');
      $('.mfp-close').trigger('click');
      // $('.popup').trigger('click');
      setTimeout(function() { $('.popup_meter').trigger('click'); }, 1)
      // $('.popup').trigger('click');
      // $.magnificPopup.open({ type: 'ajax', items: { src: '/meter' } });
    }

    function send_data() {
        var data = $('#meter_config').serializeArray()
        console.log(data);
        console.log('hello');
        socket.emit('parse_meter_form', {data: data});
        $('.mfp-close').trigger('click');
        setTimeout(function() { $('.popup_meter').trigger('click'); }, 1)
    }

    function clear_sess() {
        socket.emit('clear_sess', {data: 1});
        // $('.popup_meter').close()
        $.magnificPopup.proto.close.call(this);
    }


    </script>



{% endblock %}
