#click
Flask==2.0.3
Flask-BasicAuth
Flask-Login
#flask-oidc
Flask-Session
Flask-WTF
gevent
gevent-websocket
greenlet
httplib2
itsdangerous
Jinja2
MarkupSafe
nltk
numpy
oauth2client
pyasn1
pyasn1-modules
Flask-SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
rsa
six
Werkzeug==3.0.1
WTForms
